* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@import "_variables";

html {
  font-size: 16px;

  @include respond-phone {
    font-size: 12px;
  }
}

.side-nav {
  width: 16.25rem;
  box-shadow: $primary-shadow;

  &__close-icon {
    display: none;
    cursor: pointer;

    @include respond-phone {
      display: flex;
    }
  }
  &__link {
    color: $color-gray-light;
  }
  &__logo {
    @include respond-phone {
      display: none !important;
    }
  }

  @include respond-phone {
    height: 100vh;
    position: absolute;
    // top: 5rem;
    left: -100%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

.show-sidenav {
  left: 0;
}

.main-content {
  flex: 1 1 0%;

  .logo {
    width: 6.66rem;
    display: none;
    @include respond-phone {
      display: inline-block;
    }
  }
  @include respond-phone {
    padding: 0.5rem !important;
  }
}

.main-wrapper {
  background-color: $main-background-color;
  height: 100vh;

  @include respond-phone {
    display: flex;
    flex-direction: column;
  }
}

.active-nav-btn {
  background-image: $button-gradient;
  box-shadow: 0px 4px 16px 0px #00649640;
  font-weight: 600;
  a {
    color: #fff;
  }
}

.nav-btn {
  width: 13.85rem;
  height: 2.75rem;
  //   Width:222px
  // Height: 44px
  border-radius: 4px;
  background-color: #f5f5f5;
  cursor: pointer;

  font-weight: 400;
}

.nav-btn:not(:last-child) {
  margin-bottom: 1rem;
}

// header

.main-header {
  .heading {
    color: $color-primary;
    font-weight: 600;
  }
  .user-name {
    color: $color-primary;
    font-weight: 400;
  }
  .user-role {
    color: #999999;
    font-size: 0.8rem;
  }

  @include respond-phone {
    padding: 0.5rem !important;
  }
}
